.framed {
	border: 1px solid #aaaaaa;
}
.axis path {
	fill: none;
	stroke: #ddd;
	shape-rendering: crispEdges;
	vector-effect: non-scaling-stroke;
	stroke-width: 1px;
	opacity: 0.5;
}

div.tooltip {
	position: absolute;
	text-align: center;
	width: 60px;
	height: 12px;
	padding: 8px;
	font: 10px sans-serif;
	background: #ddd;
	border: solid 1px #aaa;
	border-radius: 8px;
	pointer-events: none;
}

html {
	min-width: 1040px;
}

body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	margin: 1em auto 4em auto;
	position: relative;
	tab-size: 2;
	width: 960px;
}

h1 {
	font-size: 64px;
	font-weight: 300;
	letter-spacing: -2px;
	margin: .3em 0 .1em 0;
}

h2 {
	font-size: 40px;
	
}

h1, h2 {
	text-rendering: optimizeLegibility;
}			
p {
	line-height: 1.5em;
	width: 900px;
}		